
<div th:replace="~{layout :: page-layout('Lista de Usuarios', ~{::content})}">

    <div th:fragment="content">
        <h2>Usuários Registrados</h2>
        
        <table border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Senha</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                   
                </tr>
                <tr th:if="${users.isEmpty()}">
                    <td colspan="4">Nenhum usuário encontrado.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

